body {
    background-image: url("../images/crystalbackground.jpg");
   }

html {
    box-sizing: border-box;
}

#random-number {
    font-family: 'Exo', sans-serif;
    font-size: 120px;
    color: white;
    text-align: center;
}

.button {
    text-align: center;
    background-color: #a4eda2;
    padding: 10px;
    margin: 0px 33% 0px 33%;
    border-radius: 6px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.display {
    font-family: 'Exo', sans-serif;
    font-size: 42px;
    color :black;
    text-align: center;
}

#wins {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    color :black;
    text-align: center;
    background-color: #a2ede9;
    vertical-align: middle;
}

#winsText {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    color :black;
    text-align: center;
    background-color: #a4eda2;
    vertical-align: middle;
    /* padding-top: 4px; */
}

#losses {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    color :black;
    text-align: center;
    background-color: #a2ede9;
    vertical-align: middle;
}

#lossesText {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    color :black;
    text-align: center;
    background-color: #a4eda2;
    vertical-align: middle;
    /* padding-top: 4px; */
}

#your-total {
    font-family: 'Exo', sans-serif;
    font-size: 120px;
    color: white;
    text-align: center;
}

.crystal-image {
    padding: 5px;
    height: 191px;
    width: 191px;
}

.container {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin: 20px;
    margin-top: 20px;
    background-color: #66d4cf;
}

p {
    display: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.height {
    height: 55px;
}

.row {
    padding: 0px;
}


/* media queries */

@media screen and (max-width: 992px) {

    img {
    width: 150px;
    height: 150px;
    padding: 0px;
    }

    .crystals {
    white-space: nowrap;
    padding: 0px;
    }

    #winsText {
    font-size: 24px;
    padding-top: 10px;
    }

    #lossesText {
    font-size: 24px;
    padding-top: 10px;
    }
    
  }

  @media screen and (max-width: 768px) {

    img {
    width: 125px;
    height: 125px;
    padding: 0px;
    }

    #winsText {
    font-size: 22px;
    padding-top: 10px;
    }

    #lossesText {
    font-size: 22px;
    padding-top: 10px;
    }

    #losses {
    padding-right: 5px;
    }

    .button {
    margin: 0px 20% 0px 20%;
    }   

  }

  @media screen and (max-width: 468px) {

    img {
    width: 100px;
    height: 100px;
    }

    .crystals {
    white-space: nowrap;
    padding: 0px;
    }

    #winsText {
    font-size: 24px;
    vertical-align: middle;
    padding-top: 20px;
    }

    #lossesText {
    font-size: 24px;
    vertical-align: middle;
    padding-top: 20px;
    }

    #losses {
    padding-right: 5px;
    }    

    .button {
    margin: 0px 20% 0px 20%;
    }
  
  }