body {
    background-image: url("../images/crystalbackground.jpg");
   }

html {
    box-sizing: border-box;
}

#random-number {
    font-family: monospace;
    font-size: 120px;
    color: white;
    text-align: center;
}

.button {
    text-align: center;
    background-color: #a4eda2;
    padding: 10px;
    margin: 0px 30% 0px 30%;
    border-radius: 6px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
}

h1 {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.display {
    font-family: monospace;
    font-size: 40px;
    color :black;
    text-align: center;
}

#your-total {
    font-family: monospace;
    font-size: 120px;
    color: white;
    text-align: center;
}

.crystal-image {
    padding: 5px;
    /* white-space: nowrap; */
}

.container {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin: 20px;
    margin-top: 20px;
    background-color: #66d4cf;
}

p {
    display: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.row {
    padding: 0px;
}

/* media queries */
@media screen and (min-width: 768px) {

    img {
    width: 150px;
    height: 150px;
    }
    .crystals {
    white-space: nowrap;
    }
      
  }

  @media screen and (min-width: 468px) {

    img {
    width: 125px;
    height: 125 px;
    /* padding: 5px; */
    }

    .crystals {
    white-space: nowrap;
    }
  
  }